# DAY7

ORM 소개

object relational mapper

웹 프레임워크 flask

orm SQLAlchemy

## SQLAlchemy

스키마를 통해 엔진?객체를 만들고 그 객체가 sql을 만든다

connection <- engine <- DBAPI <- database

In [3]:
import sqlalchemy

In [34]:
sqlalchemy.__version__

'1.3.1'

In [36]:
import sqlite3

In [ ]:
connnnn = sqlite3.connect('create2.db')

In [7]:
from sqlalchemy import create_engine

engine = create_engine("sqlite:///:memory:", echo=True)

print(engine)

Engine(sqlite:///:memory:)

#### create_engine

sqlalchemy.create_engine(*args,**kwargs)

dialect+driver://username:password@host:port/database

In [50]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey

metadata = MetaData()
users = Table('users', metadata,
             Column('id',Integer,primary_key = True),
             Column('name',String),
             Column('fullname',String)            
             )

addresses = Table('addresses', metadata,
                 Column('id',Integer,primary_key=True),
                  Column('user_id',None,ForeignKey('users.id')),
                  Column('email_address',String,nullable=False)                 
                 )

metadata.create_all(engine)

2019-07-09 14:27:49,045 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 14:27:49,046 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:27:49,048 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("addresses")
2019-07-09 14:27:49,050 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:27:49,052 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (id)
)


2019-07-09 14:27:49,054 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:27:49,063 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 14:27:49,065 INFO sqlalchemy.engine.base.Engine
CREATE TABLE addresses (
	id INTEGER NOT NULL,
	user_id INTEGER,
	email_address VARCHAR NOT NULL,
	PRIMARY KEY (id),
	FOREIGN KEY(user_id) REFERENCES users (id)
)


2019-07-09 14:27:49,066 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:27:49,071 INFO sqlalchemy.engine.base.Engine COMMIT

In [51]:
metadata.tables

immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'addresses': Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('email_address', String(), table=<addresses>, nullable=False), schema=None)})

In [52]:
insert = users.insert() # insert sql을 만들어준다
print(insert)

insert = users.insert().values(name='kim',fullname='Anonymous,kim')
print(insert)

insert.compile().params # insert 를 컴파일할 때 들어가는 파라미터들을 출력해준다!!

INSERT INTO users (id, name, fullname) VALUES (:id, :name, :fullname)
INSERT INTO users (name, fullname) VALUES (:name, :fullname)

{'name': 'kim', 'fullname': 'Anonymous,kim'}

In [53]:
conn = engine.connect()
conn

In [54]:
insert.bind = engine
str(insert)

'INSERT INTO users (name, fullname) VALUES (?, ?)'

In [55]:
result = conn.execute(insert)
result.inserted_primary_key

2019-07-09 14:27:52,463 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2019-07-09 14:27:52,464 INFO sqlalchemy.engine.base.Engine ('kim', 'Anonymous,kim')
2019-07-09 14:27:52,468 INFO sqlalchemy.engine.base.Engine COMMIT

[1]

In [56]:
insert = users.insert()
result = conn.execute(insert,name="lee",fullname = "Unknown,lee")
result.inserted_primary_key

2019-07-09 14:27:52,634 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2019-07-09 14:27:52,635 INFO sqlalchemy.engine.base.Engine ('lee', 'Unknown,lee')
2019-07-09 14:27:52,641 INFO sqlalchemy.engine.base.Engine COMMIT

[2]

In [57]:
conn.execute(addresses.insert(), [{"user_id":1,"email_address":"anonymous.kim@test.com"},
                                  {"user_id":2,"email_address":"unknown.lee@test.com"}]  )

2019-07-09 14:27:52,793 INFO sqlalchemy.engine.base.Engine INSERT INTO addresses (user_id, email_address) VALUES (?, ?)
2019-07-09 14:27:52,795 INFO sqlalchemy.engine.base.Engine ((1, 'anonymous.kim@test.com'), (2, 'unknown.lee@test.com'))
2019-07-09 14:27:52,797 INFO sqlalchemy.engine.base.Engine COMMIT

In [58]:
from sqlalchemy.sql import select
cur = conn.execute(select([users]))
cur.fetchall()

2019-07-09 14:27:52,963 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
2019-07-09 14:27:52,965 INFO sqlalchemy.engine.base.Engine ()

[(1, 'kim', 'Anonymous,kim'), (2, 'lee', 'Unknown,lee')]

In [59]:
from sqlalchemy import and_, or_, not_
print(users.c.id == addresses.c.user_id)
print(users.c.id == 1)
print((users.c.id ==1).compile().params)
print(or_(users.c.id == addresses.c.user_id, users.c.id ==1))

users.id = addresses.user_id
users.id = :id_1
{'id_1': 1}
users.id = addresses.user_id OR users.id = :id_1

In [60]:
result = conn.execute(select([users]).where(users.c.id==1))

for row in result:
    print(row)
    
result = conn.execute(select([users,addresses]).where(users.c.id==addresses.c.user_id))

for row in result:
    print(row)

2019-07-09 14:27:53,301 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname
FROM users
WHERE users.id = ?
2019-07-09 14:27:53,303 INFO sqlalchemy.engine.base.Engine (1,)
(1, 'kim', 'Anonymous,kim')
2019-07-09 14:27:53,307 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.name, users.fullname, addresses.id, addresses.user_id, addresses.email_address
FROM users, addresses
WHERE users.id = addresses.user_id
2019-07-09 14:27:53,308 INFO sqlalchemy.engine.base.Engine ()
(1, 'kim', 'Anonymous,kim', 1, 1, 'anonymous.kim@test.com')
(2, 'lee', 'Unknown,lee', 2, 2, 'unknown.lee@test.com')

In [61]:
from sqlalchemy import join

print(users.join(addresses)) # 쿼리문이 나온다!

print(users.join(addresses,users.c.id==addresses.c.user_id)) # PK랑 FK랑 이미 설정되어 있으므로 위의 쿼리문과 똑같이 나옴

users JOIN addresses ON users.id = addresses.user_id
users JOIN addresses ON users.id = addresses.user_id

In [62]:
query = select([users.c.id, users.c.fullname, addresses.c.email_address]).select_from(users.join(addresses))

result = conn.execute(query).fetchall()

for row in result:
    print(row)

2019-07-09 14:27:53,654 INFO sqlalchemy.engine.base.Engine SELECT users.id, users.fullname, addresses.email_address
FROM users JOIN addresses ON users.id = addresses.user_id
2019-07-09 14:27:53,656 INFO sqlalchemy.engine.base.Engine ()
(1, 'Anonymous,kim', 'anonymous.kim@test.com')
(2, 'Unknown,lee', 'unknown.lee@test.com')

In [63]:
metadata.tables

immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), schema=None), 'addresses': Table('addresses', MetaData(bind=None), Column('id', Integer(), table=<addresses>, primary_key=True, nullable=False), Column('user_id', Integer(), ForeignKey('users.id'), table=<addresses>), Column('email_address', String(), table=<addresses>, nullable=False), schema=None)})

In [64]:
metadata.clear()

In [65]:
artist = Table("Artist", metadata,
              Column("id", Integer, primary_key = True),
              Column("name", String, nullable = False),
              extend_existing = True)

album = Table("Album", metadata,
             Column("id", Integer, primary_key = True),
             Column("title", String, nullable = False),
             Column("artist_id", Integer, ForeignKey("Artist.id")),
             extend_existing=True
             )

genre = Table("Genre",metadata,
              Column("id",Integer,primary_key=True),
              Column("name",String,nullable=False),
              extend_existing=True)

track = Table("Track", metadata,
              Column("id", Integer, primary_key=True),
              Column("title",String,nullable=False),
              Column("length", Integer, nullable=False),
              Column("rating", Integer, nullable=False),
              Column("count", Integer, nullable=False),
              Column("album_id", Integer,ForeignKey("Album.id")),
              Column("genre_id", Integer,ForeignKey("Genre.id")),
              extend_existing=True)

metadata.create_all(engine)

2019-07-09 14:27:54,239 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Artist")
2019-07-09 14:27:54,240 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:27:54,242 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Album")
2019-07-09 14:27:54,243 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:27:54,245 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Genre")
2019-07-09 14:27:54,246 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:27:54,247 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Track")
2019-07-09 14:27:54,248 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:27:54,250 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 14:27:54,251 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:27:54,256 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 14:27:54,258 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2019-07-09 14:27:54,259 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:27:54,265 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 14:27:54,267 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2019-07-09 14:27:54,268 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:27:54,273 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 14:27:54,275 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR NOT NULL,
	length INTEGER NOT NULL,
	rating INTEGER NOT NULL,
	count INTEGER NOT NULL,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2019-07-09 14:27:54,276 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 14:27:54,281 INFO sqlalchemy.engine.base.Engine COMMIT

In [66]:
tables = metadata.tables
for table in tables:
    print(table)
    
# 메모리의 테이블

Artist
Album
Genre
Track

In [67]:
for table in engine.table_names():
    print(table)
    
# 데이터베이스의 테이블

2019-07-09 14:27:54,574 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 14:27:54,576 INFO sqlalchemy.engine.base.Engine ()
Album
Artist
Genre
Track
addresses
users

In [68]:
conn.execute(artist.insert(), [
    {"name":"Led Zepplin"},
    {"name":"AC/DC"}
])

conn.execute(album.insert(), [
    {"title":"IV" ,"artist_id":1},
    {"title":"Who Made Who" ,"artist_id":2}
])

conn.execute(genre.insert(), [
    {"name":"Rock"},
    {"name":"Metal"}
])

conn.execute(track.insert(),[
    {"title":"Black Dog", "rating":5, "length":297, "count":0, "album_id":1, "genre_id":1},
    {"title":"Stairway", "rating":5, "length":482, "count":0, "album_id":1, "genre_id":1},
    {"title":"About to rock", "rating":5, "length":313, "count":0, "album_id":2, "genre_id":2},
    {"title":"Who Made Who", "rating":5, "length":297, "count":0, "album_id":2, "genre_id":2}
])

2019-07-09 14:27:54,756 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 14:27:54,757 INFO sqlalchemy.engine.base.Engine (('Led Zepplin',), ('AC/DC',))
2019-07-09 14:27:54,760 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 14:27:54,768 INFO sqlalchemy.engine.base.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2019-07-09 14:27:54,770 INFO sqlalchemy.engine.base.Engine (('IV', 1), ('Who Made Who', 2))
2019-07-09 14:27:54,772 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 14:27:54,777 INFO sqlalchemy.engine.base.Engine INSERT INTO "Genre" (name) VALUES (?)
2019-07-09 14:27:54,778 INFO sqlalchemy.engine.base.Engine (('Rock',), ('Metal',))
2019-07-09 14:27:54,780 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 14:27:54,785 INFO sqlalchemy.engine.base.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2019-07-09 14:27:54,787 INFO sqlalchemy.engine.base.Engine (('Black Dog', 297, 5, 0, 1, 1), ('Stairway', 482, 5, 0, 1, 1), ('About to rock', 313, 5, 0, 2, 2), ('Who Made Who', 297, 5, 0, 2, 2))
2019-07-09 14:27:54,789 INFO sqlalchemy.engine.base.Engine COMMIT

In [69]:
from sqlalchemy import update

conn.execute(track.update().values(genre_id=2).where(track.c.id==2))
conn.execute(track.update().values(genre_id=1).where(track.c.id==3))

2019-07-09 14:27:54,957 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET genre_id=? WHERE "Track".id = ?
2019-07-09 14:27:54,958 INFO sqlalchemy.engine.base.Engine (2, 2)
2019-07-09 14:27:54,963 INFO sqlalchemy.engine.base.Engine COMMIT
2019-07-09 14:27:54,969 INFO sqlalchemy.engine.base.Engine UPDATE "Track" SET genre_id=? WHERE "Track".id = ?
2019-07-09 14:27:54,971 INFO sqlalchemy.engine.base.Engine (1, 3)
2019-07-09 14:27:54,974 INFO sqlalchemy.engine.base.Engine COMMIT

In [70]:
trackResult = conn.execute(select([track])
                           .where(and_(track.c.album_id==1,or_(track.c.genre_id==1,track.c.genre_id==2))))

for row in trackResult:
    print(row)

2019-07-09 14:27:55,142 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track"
WHERE "Track".album_id = ? AND ("Track".genre_id = ? OR "Track".genre_id = ?)
2019-07-09 14:27:55,144 INFO sqlalchemy.engine.base.Engine (1, 1, 2)
(1, 'Black Dog', 297, 5, 0, 1, 1)
(2, 'Stairway', 482, 5, 0, 1, 2)

In [71]:
print(track.join(album))
print(track.join(album).join(genre))
print(track.join(album).join(genre).join(artist))

result = conn.execute(select([track.c.title,album.c.title,genre.c.name,artist.c.name]).select_from(track.join(album).join(genre).join(artist)))

for row in result.fetchall():
    print(row)

result = conn.execute(track
                     .select()
                     .select_from(track.join(album)\
                                  .join(genre).join(artist))
                     .where(
                         and_(
                             genre.c.id==1,
                             artist.c.id==1,
                         )
                     )
                     )
for row in result.fetchall():
    print(row)

"Track" JOIN "Album" ON "Album".id = "Track".album_id
"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id
"Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2019-07-09 14:27:55,345 INFO sqlalchemy.engine.base.Engine SELECT "Track".title, "Album".title, "Genre".name, "Artist".name
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
2019-07-09 14:27:55,346 INFO sqlalchemy.engine.base.Engine ()
('Black Dog', 'IV', 'Rock', 'Led Zepplin')
('Stairway', 'IV', 'Metal', 'Led Zepplin')
('About to rock', 'Who Made Who', 'Rock', 'AC/DC')
('Who Made Who', 'Who Made Who', 'Metal', 'AC/DC')
2019-07-09 14:27:55,351 INFO sqlalchemy.engine.base.Engine SELECT "Track".id, "Track".title, "Track".length, "Track".rating, "Track".count, "Track".album_id, "Track".genre_id
FROM "Track" JOIN "Album" ON "Album".id = "Track".album_id JOIN "Genre" ON "Genre".id = "Track".genre_id JOIN "Artist" ON "Artist".id = "Album".artist_id
WHERE "Genre".id = ? AND "Artist".id = ?
2019-07-09 14:27:55,352 INFO sqlalchemy.engine.base.Engine (1, 1)
(1, 'Black Dog', 297, 5, 0, 1, 1)

In [230]:
conn.close()
metadata.clear()

In [231]:
metadata.tables

immutabledict({})

In [232]:
from sqlalchemy import create_engine, MetaData

engine = create_engine("sqlite:///engine555.db",echo=True)
conn = engine.connect()

metadata = MetaData(bind=engine, reflect=True)
metadata.reflect(bind=engine)

for row in metadata.tables:
    print(row)

2019-07-09 15:40:07,438 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:40:07,440 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:40:07,441 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-07-09 15:40:07,442 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:40:07,445 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 15:40:07,446 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:40:07,449 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 15:40:07,450 INFO sqlalchemy.engine.base.Engine ()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SADeprecationWarning: The MetaData.reflect flag is deprecated and will be removed in a future release.   Please use the MetaData.reflect() method.

In [233]:
for i in engine.table_names():
    print(i)

2019-07-09 15:40:08,310 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-07-09 15:40:08,312 INFO sqlalchemy.engine.base.Engine ()

In [234]:
from sqlalchemy.ext.declarative import declarative_base

base = declarative_base()

In [235]:
class User(base):
    __tablename__ = "users"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    password = Column("passwd", String)
    
    def __repr__(self):
        return "<T'User(name= '%s',fullname='%s',password='%s')>" % (self.name,self.fullname,self.password)

In [236]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(), table=<users>), Column('fullname', String(), table=<users>), Column('passwd', String(), table=<users>), schema=None)

In [237]:
User.__mapper__

In [238]:
User.__repr__

In [239]:
base.metadata.create_all(engine)

2019-07-09 15:40:09,718 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2019-07-09 15:40:09,719 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:40:09,721 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	passwd VARCHAR,
	PRIMARY KEY (id)
)


2019-07-09 15:40:09,723 INFO sqlalchemy.engine.base.Engine ()
2019-07-09 15:40:09,732 INFO sqlalchemy.engine.base.Engine COMMIT

In [240]:
kim = User(name="kim",fullname="anonymous,Kim", password="kimbap heaven")

print(kim)
print(kim.id)

<T'User(name= 'kim',fullname='anonymous,Kim',password='kimbap heaven')>
None

session -> 우리가 만든 객체와 데이터베이스가 왔다갔다 할 수 있게 해주는 아이

In [241]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

In [242]:
session.add(kim)

In [243]:
session.add_all([
    User(name="lee",fullname="unknown,Kim", password="123456789a"),
    User(name="park",fullname="nobody, park", password="parking in park")
])

In [244]:
session.commit()

2019-07-09 15:40:11,722 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 15:40:11,725 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 15:40:11,726 INFO sqlalchemy.engine.base.Engine ('kim', 'anonymous,Kim', 'kimbap heaven')
2019-07-09 15:40:11,729 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 15:40:11,731 INFO sqlalchemy.engine.base.Engine ('lee', 'unknown,Kim', '123456789a')
2019-07-09 15:40:11,732 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, passwd) VALUES (?, ?, ?)
2019-07-09 15:40:11,734 INFO sqlalchemy.engine.base.Engine ('park', 'nobody, park', 'parking in park')
2019-07-09 15:40:11,735 INFO sqlalchemy.engine.base.Engine COMMIT

In [245]:
kim.password = "password"

In [246]:
session.dirty

2019-07-09 15:40:14,424 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-07-09 15:40:14,426 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE users.id = ?
2019-07-09 15:40:14,427 INFO sqlalchemy.engine.base.Engine (1,)

IdentitySet([<T'User(name= 'kim',fullname='anonymous,Kim',password='password')>])

In [247]:
session.is_modified(kim)

True

In [248]:
for row in session.query(User):
    print(type(row))
    print(row.id,row.name,row.fullname, row.password)

2019-07-09 15:40:15,089 INFO sqlalchemy.engine.base.Engine UPDATE users SET passwd=? WHERE users.id = ?
2019-07-09 15:40:15,090 INFO sqlalchemy.engine.base.Engine ('password', 1)
2019-07-09 15:40:15,094 INFO sqlalchemy.engine.base.Engine SELECT users.passwd AS users_passwd, users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname
FROM users
2019-07-09 15:40:15,096 INFO sqlalchemy.engine.base.Engine ()
<class '__main__.User'>
1 kim anonymous,Kim password
<class '__main__.User'>
2 lee unknown,Kim 123456789a
<class '__main__.User'>
3 park nobody, park parking in park

In [249]:
print(kim.id)

1

In [250]:
for row in session.query(User.id, User.fullname).filter_by(name = "lee"):
    print(type(row))
    print(row.id, row.fullname)

2019-07-09 15:40:17,041 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.fullname AS users_fullname
FROM users
WHERE users.name = ?
2019-07-09 15:40:17,042 INFO sqlalchemy.engine.base.Engine ('lee',)
<class 'sqlalchemy.util._collections.result'>
2 unknown,Kim

In [221]:
class Artist(base):
    __tablename__ = "Artist"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)

    
class Album(base):
    __tablename__ = "Album"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("Artist.id"))
    
    
class Genre(base):
    __tablename__ = "Genre"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
class Track(base):
    __tablename__ = "Track"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    length = Column(Integer)
    rating = Column(Integer)
    count = Column(Integer)
    album_id = Column(Integer, ForeignKey("Album.id"))
    genre_id = Column(Integer, ForeignKey("Genre.id"))

conn.execute(artist.insert(), [
    {"name":"Led Zepplin"},
    {"name":"AC/DC"}
])

conn.execute(album.insert(), [
    {"title":"IV" ,"artist_id":1},
    {"title":"Who Made Who" ,"artist_id":2}
])

conn.execute(genre.insert(), [
    {"name":"Rock"},
    {"name":"Metal"}
])

conn.execute(track.insert(),[
    {"title":"Black Dog", "rating":5, "length":297, "count":0, "album_id":1, "genre_id":1},
    {"title":"Stairway", "rating":5, "length":482, "count":0, "album_id":1, "genre_id":1},
    {"title":"About to rock", "rating":5, "length":313, "count":0, "album_id":2, "genre_id":2},
    {"title":"Who Made Who", "rating":5, "length":297, "count":0, "album_id":2, "genre_id":2}
])

In [222]:
dir(Album)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__mapper__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__table__',
 '__tablename__',
 '__weakref__',
 '_decl_class_registry',
 '_sa_class_manager',
 'artist_id',
 'id',
 'metadata',
 'title']

In [223]:
artist1 = Artist(name = "Led Zepplin")
artist2 = Artist(name = "AC/DC")

session.add_all([artist1,artist2])
session.commit()

album = [Album(title = "IV" ,artist_id=artist1.id),
    Album(title = "Who Made Who", artist_id = artist2.id)]

session.add_all(album)
session.commit()

2019-07-09 15:27:20,097 INFO sqlalchemy.engine.base.Engine INSERT INTO "Artist" (name) VALUES (?)
2019-07-09 15:27:20,099 INFO sqlalchemy.engine.base.Engine ('Led Zepplin',)
2019-07-09 15:27:20,100 INFO sqlalchemy.engine.base.Engine ROLLBACK

OperationalError: (sqlite3.OperationalError) no such table: Artist
[SQL: INSERT INTO "Artist" (name) VALUES (?)]
[parameters: ('Led Zepplin',)]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [251]:
class Artist(base):
    __tablename__ = "Artist"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)

    albumList = relationship("Album",back_populates= "artist")
    
class Album(base):
    __tablename__ = "Album"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("Artist.id"))
    
    artist = relationship("Artist",back_populates="albumList", uselist=False)
    trackList = relationship("Track",back_populates="album")
    
    
class Genre(base):
    __tablename__ = "Genre"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
    trackList = relationship("Track",back_populates="genre")
    
class Track(base):
    __tablename__ = "Track"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    length = Column(Integer)
    rating = Column(Integer)
    count = Column(Integer)
    album_id = Column(Integer, ForeignKey("Album.id"))
    genre_id = Column(Integer, ForeignKey("Genre.id"))
    
    album = relationship("Album",back_populates="trackList", uselist=False)
    genre = relationship("Genre",back_populates="trackList", uselist=False)

In [252]:
from sqlalchemy.orm import relationship

In [257]:
track1 = Track(title="Black Dog", rating=5, length=297, count=0)
track2 = Track(title="asdfsadf", rating=11, length=147, count=0)
track3 = Track(title="bbgdb", rating=6, length=234, count=0)
track4 = Track(title="sgwvdf", rating=2, length=2456, count=0)

In [260]:
track1.album = track2.album = Album(title="sdfsdf")
track3.album = track4.album = Album(title="vvvvv")

In [263]:
track1.genre = track2.genre = Genre(name="vsdf")
track3.genre = track4.genre = Genre(name="brrfr")

In [264]:
track1.album.artist= track2.album.artist = Artist(name="llsdfv")
track3.album.artist= track4.album.artist = Artist(name="vabbg")

In [265]:
print("title %s album %s genre %s artist %s" %
      (track1.title,track1.album.title, track1.genre.name, track1.album.artist.name))
print("title %s album %s genre %s artist %s" %
      (track3.title,track3.album.title, track3.genre.name, track3.album.artist.name))

title Black Dog album sdfsdf genre vsdf artist llsdfv
title bbgdb album vvvvv genre brrfr artist vabbg

In [266]:
print("track ID %s albumID %s genreID %s artist %s" %
      (track1.id,track3.album.id, track1.genre.id, track1.album.artist.id))
print("track ID %s albumID %s genreID %s artist %s" %
      (track3.id,track3.album.id, track3.genre.id, track3.album.artist.id))

track ID None albumID None genreID None artist None
track ID None albumID None genreID None artist None

자연어는 패턴을 찾기 힘든데 패턴을 찾으려는 노력의 일환 중 하나가 regex

parsing

string이 들어오면 찾거나 대체할때 사용

사용하는 이유 : 속도가 빠름

주로 serach하는데 사용함!!!!

In [267]:
import re

In [268]:
data = """
park 800909-1049119
kim 701920-1059119
"""

pat = re.compile("(\d{6})[-]\d{7}")
print(pat.sub("\g<1>-*******",data))

park 800909-*******
kim 701920-*******

In [269]:
p = re.compile('Crow|Servo')
m = p.match('CrowHello')
print(m)

<re.Match object; span=(0, 4), match='Crow'>

In [270]:
print(re.search('^Life','Life is too short'))

<re.Match object; span=(0, 4), match='Life'>

In [271]:
print(re.search('^Life','My Life'))

None

In [272]:
p = re.compile('(ABC)+')
m = p.search('ABCABCABC OK?')
print(m.group())

ABCABCABC

In [275]:
p = re.compile(r'\Bclass\B')
print(p.search('no class at all'))

None

In [276]:
print(p.search('one subclass is'))

None

In [277]:
m = re.match(r"(\w+) (\w+)","Issac Newton, physicist")
print(m.group(0))
print(m.group(1))
print(m.group(2))

print(m.group(1,2))

Issac Newton
Issac
Newton
('Issac', 'Newton')