# 20190708 DAY6

## DATA

### 데이터베이스 개요

DBMS

SQL

SQLite

데이터는 있는 그대로의 값 사실을 의미

데이터를 한 곳에 넣어놓아야 하기 때문에 동일한 데이터가 중복되지 않도록 구성

최소한의 중복 또는 통제댄 중복만 허용

중복을 피하

데이터베이스 특징

+ 실시간 접근성

+ 계속적인 변화

+ 동시 공유 가능

+ 내용에 의한 참조 가능 ( call by value )

관계 데이터 모델 : 테이블
    
객체 관계 모델 : 객체의 property

RDBMS (relation database management system)

# SQLite

In [1]:
import sqlite3

In [2]:
sqlite3.version

'2.6.0'

In [3]:
sqlite3.sqlite_version

'3.27.2'

In [4]:
conn = sqlite3.connect(':memory:')

In [5]:
cur = conn.cursor() # 쿼리를 전달하려면 cursor가 필요하다

In [6]:
# type(cur)
# dir(cur)

In [7]:
cur.execute("select sqlite_version()")

In [8]:
cur.fetchall()

[('3.27.2',)]

In [9]:
sqlite3.complete_statement('select sqlite_version();')

True

하나의 문을 끝내려면 세미콜론이 필수적!!

In [10]:
cur.execute('create table people (name_last, age)')

In [11]:
who = "yeltsin"

In [12]:
age = 72

In [13]:
cur.execute("insert into people values (?,?)" ,(who,age))
# 큐마크 스타일 / 파라미터를 퀘스천(?)로 넘기는것

In [14]:
cur.execute("select * from people where name_last=:who and age=age",{"who":who,"age":age})
cur.fetchone()
# 네임드 스타일

('yeltsin', 72)

In [15]:
sql = "insert into people values (?,?)"
curData = [('A',1),('B',2),('C',3)]

In [16]:
cur.executemany(sql,curData)

In [17]:
dataDict = [{"who":"E","age":1},{"who":"F","age":1}]

In [18]:
cur.executemany("insert into people values (:who,:age)",dataDict)

In [19]:
cur.execute("select * from people")

In [20]:
cur.fetchall()

[('yeltsin', 72), ('A', 1), ('B', 2), ('C', 3), ('E', 1), ('F', 1)]

In [21]:
cur.executescript("""
                    create table person(
                        first_name text primary key,
                        last_name text not null
                    );
                      
                      insert into person values ('name','kim');
                        """)
cur.fetchall()

[]

In [22]:
conn = sqlite3.connect('create.db')
cur = conn.cursor() # 쿼리를 전달하려면 cursor가 필요하다

In [23]:
print('opened database successfully')

opened database successfully

In [25]:
cur.execute('''
            create table company(
            id int primary key not null,
            name text not null,
            age int nut null,
            address char(50),
            salary real);
''')
print("success")

OperationalError: table company already exists

In [ ]:
cur.execute('drop table company')

In [ ]:
conn = sqlite3.connect('create2.db')
cur = conn.cursor() # 쿼리를 전달하려면 cursor가 필요하다

In [26]:
cur.execute('''insert into company(id,name,age,address,salary)
                values(1,'paul',32,'california',20000.00)''');
cur.lastrowid

cur.execute('''insert into company(id,name,age,address,salary)
                values (:id, :name,:age,:address,:salary)''',{'id':2,'name':'allan','age':25,'address':'texas','salary':15000.00});

cur.lastrowid

data = [(3,'teddy',23,'norway', 200000.00),
       (4,'mark',25,'rich-mond',65000.00)]

cur.executemany("insert into company(id,name,age,address,salary) values (?,?,?,?,?)",data)

cur.lastrowid

cur.executescript("""
    insert into company(id,name,age,address,salary)
    values (5,'aaa',25,'rich-mond',65000.00);

    insert into company(id,name,age,address,salary)

values (6,'bbb',25,'rich-mond',65000.00);
""");
cur.lastrowid

2

In [27]:
cur.lastrowid

2

In [28]:
conn.commit()
print("success")

success

In [31]:
cur.lastrowid

6

In [30]:
cur.execute("select id,name,address, salary from company")

for row in cur:
    print("id : ",type(row[0]))
    print("name : ",type(row[1]))
    print("address : ",type(row[2]))
    print("salary : ",type(row[3]), end='\n\n')
    
print("opertion")

id :  <class 'int'>
name :  <class 'str'>
address :  <class 'str'>
salary :  <class 'float'>

id :  <class 'int'>
name :  <class 'str'>
address :  <class 'str'>
salary :  <class 'float'>

id :  <class 'int'>
name :  <class 'str'>
address :  <class 'str'>
salary :  <class 'float'>

id :  <class 'int'>
name :  <class 'str'>
address :  <class 'str'>
salary :  <class 'float'>

id :  <class 'int'>
name :  <class 'str'>
address :  <class 'str'>
salary :  <class 'float'>

id :  <class 'int'>
name :  <class 'str'>
address :  <class 'str'>
salary :  <class 'float'>

opertion

In [23]:
import sqlite3

In [75]:
conn = sqlite3.connect('create3.db')
cur = conn.cursor() # 쿼리를 전달하려면 cursor가 필요하다

In [25]:
cur

In [26]:
cur.execute('''
            create table company(
            id int primary key not null,
            name text not null,
            age int nut null,
            address char(50),
            salary real);
''')
print("success")

success

In [27]:
cur.execute('''insert into company(id,name,age,address,salary)
                values(1,'paul',32,'california',20000.00)''');
cur.lastrowid

1

In [28]:
conn.commit()

In [29]:
cur.execute('''insert into company(id,name,age,address,salary)
                values (:id, :name,:age,:address,:salary)''',{'id':2,'name':'allan','age':25,'address':'texas','salary':15000.00});

cur.lastrowid

2

In [30]:
conn.commit()

In [31]:
data = [(3,'teddy',23,'norway', 200000.00),
       (4,'mark',25,'rich-mond',65000.00)]

cur.executemany("insert into company(id,name,age,address,salary) values (?,?,?,?,?)",data)

cur.lastrowid

2

In [32]:
conn.commit()

In [33]:
cur.executescript("""
    insert into company(id,name,age,address,salary)
    values (5,'aaa',25,'rich-mond',65000.00);

    insert into company(id,name,age,address,salary)

values (6,'bbb',25,'rich-mond',65000.00);
""");
cur.lastrowid

2

In [34]:
list(cur.execute("select * from company"))

[(1, 'paul', 32, 'california', 20000.0),
 (2, 'allan', 25, 'texas', 15000.0),
 (3, 'teddy', 23, 'norway', 200000.0),
 (4, 'mark', 25, 'rich-mond', 65000.0),
 (5, 'aaa', 25, 'rich-mond', 65000.0),
 (6, 'bbb', 25, 'rich-mond', 65000.0)]

In [35]:
cid = 1
cur.execute("update company set salary = 25000.00 where id = :id",{'id':cid})

In [36]:
conn.commit()

In [37]:
print("total row update : ",conn.total_changes)

total row update :  7

In [38]:
cur.execute("delete from company where id = 2;")

print("total num of rows deleted : ", conn.total_changes)

total num of rows deleted :  8

In [39]:
cur.execute("""create table artist(id integer not null primary key autoincrement unique,
                                    name text)""")

In [40]:
cur.execute("""create table genre(id integer not null primary key autoincrement unique,
                                    name text)""")

In [41]:
cur.execute("""create table album(id integer not null primary key autoincrement unique,
                                    title text,
                                    artist_id integer)""")

In [42]:
conn.commit()

In [55]:
cur.execute("""create table track(id integer not null primary key autoincrement unique,
                                    title text,
                                    length integer,
                                    rating integer,
                                    count integer,
                                    album_id integer
                                    genre_id integer)""")

OperationalError: table track already exists

In [44]:
conn.commit()

In [45]:
cur.execute("insert into artist (name) values ('led zepplin')")

In [46]:
cur.execute("insert into artist (name) values ('AC/DC')")

In [47]:
conn.commit()

In [48]:
cur.execute("insert into genre (name) values ('rock')")

In [49]:
cur.execute("insert into genre (name) values ('metal')")

In [50]:
conn.commit()

In [51]:
cur.execute("""
    INSERT INTO album (title,artist_id)
    VALUES(:album,
        (SELECT id
        FROM artist
        WHERE name=:artist))
""", {"album":"hello","artist":"led zepplin"})

In [52]:
conn.commit()

In [17]:
cur.execute("""SELECT id
        FROM artist
        WHERE name='led zepplin'""")

In [18]:
print(cur)

<sqlite3.Cursor object at 0x0000026E8B606F80>

In [19]:
cur

In [53]:
cur.fetchone()

In [58]:
cur.execute("insert into Album (title, artist_id) values ('Who Made Who', 2)")
cur.execute("insert into Album (title, artist_id) values ('IV', 1)")
cur.execute("insert into Track (title, rating, length, count, album_id, genre_id) values ('Black Dog', 5, 297, 0, 2, 1)")
cur.execute("insert into Track (title, rating, length, count, album_id, genre_id) values ('Stairway', 5, 482, 0, 2, 1)")
cur.execute("insert into Track (title, rating, length, count, album_id, genre_id) values ('About to Rock', 5, 313, 0, 1, 2)")
cur.executescript("insert into Track (title, rating, length, count, album_id, genre_id) values ('wwww', 23, 247, 0, 1, 2)")

In [56]:
cur.execute("alter table track add genre_id  integer")

In [59]:
conn.commit()

In [76]:
cur.execute('''
select Album.title, Artist.name
from Album
join Artist on
Album.artist_id = Artist.id

''')
cur.fetchall()

[('hello', 'led zepplin'),
 ('Who Made Who', 'AC/DC'),
 ('IV', 'led zepplin'),
 ('Who Made Who', 'AC/DC'),
 ('IV', 'led zepplin')]

In [77]:
conn.commit()

In [78]:
cur.execute('''
select Track.title, Genre.name
from Track
join Genre on
Track.genre_id = Genre.id
''')
cur.fetchall()

[('Black Dog', 'rock'),
 ('Stairway', 'rock'),
 ('About to Rock', 'metal'),
 ('Who Made Who', 'metal')]

In [79]:
cur.execute('''
select Album.title, Track.title
from Track
join Album on
Track.album_id = Album.id
''')
cur.fetchall()

[('Who Made Who', 'Black Dog'),
 ('Who Made Who', 'Stairway'),
 ('hello', 'About to Rock'),
 ('hello', 'Who Made Who')]

In [90]:
cur.execute('''
select Track.title, Artist.name, Album.title, Genre.name
from Track
join Artist join Album join Genre on
Track.album_id = Album.id
and
Track.genre_id = Genre.id
and
Album.artist_id = Artist.id
''')
cur.fetchall()

[('Black Dog', 'AC/DC', 'Who Made Who', 'rock'),
 ('Stairway', 'AC/DC', 'Who Made Who', 'rock'),
 ('About to Rock', 'led zepplin', 'hello', 'metal'),
 ('Who Made Who', 'led zepplin', 'hello', 'metal')]

In [91]:
cur.executescript("insert into Track (title, rating, length, count, album_id, genre_id) values ('wwww', 23, 247, 0, 1, 2);")

OperationalError: database is locked

In [87]:
conn.close()

In [88]:
conn = sqlite3.connect('create3.db')

In [89]:
cur = conn.cursor()